<!DOCTYPE html>
<html lang="zh-hant-TW">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>股票查詢系統</title>
</head>
<body>
	<img src="/static/images/background.jpg" class="background">
	<div class="index_text">
		歡迎來到股票查詢系統
	</div>
	<div class="index">
		<ul>
			<li class="search"><a href="/searching"><img src="/static/images/null.png" style="width: 325px;height: 200px;"></a></li>
			<li class="stock"><a href="/make_image"><img src="/static/images/null.png" style="width: 325px;height: 200px;"></a></li>
		</ul>
	</div>
	<div class="group">
		開發人員：楊棋睿、簡振宇、丁偉祐、陳致華、黃柏鈞、王仕驊 &emsp;&emsp;
	</div>
</body>
</html>