<!DOCTYPE html>
<html lang="zh-hant-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>股票查詢系統</title>
	<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
	<img src="/static/images/background.jpg" class="background">
	<div class="searching">
		<form action="/result"method="get">
	        <input placeholder="請輸入股票代號或名稱..." type="text" name="code" class="searching_bar">
	        <br>
	        <input type="submit" value="送出" class="submit_button">
	    </form>
	</div>
</body>
</html>